
CREATE TABLE puzzles (
	id VARCHAR NOT NULL, 
	fen VARCHAR NOT NULL, 
	moves VARCHAR NOT NULL, 
	rating INTEGER NOT NULL, 
	rating_deviation INTEGER, 
	popularity INTEGER, 
	themes VARCHAR NOT NULL, 
	game_url VARCHAR, 
	PRIMARY KEY (id)
)

;


CREATE TABLE users (
	role userrole NOT NULL, 
	elo_rating INTEGER NOT NULL, 
	games_played INTEGER NOT NULL, 
	tournaments_played INTEGER NOT NULL, 
	tournaments_won INTEGER NOT NULL, 
	tournaments_podium INTEGER NOT NULL, 
	xp INTEGER NOT NULL, 
	level INTEGER NOT NULL, 
	coins INTEGER NOT NULL, 
	id UUID NOT NULL, 
	email VARCHAR(320) NOT NULL, 
	hashed_password VARCHAR(1024) NOT NULL, 
	is_active BOOLEAN NOT NULL, 
	is_superuser BOOLEAN NOT NULL, 
	is_verified BOOLEAN NOT NULL, 
	PRIMARY KEY (id)
)

;


CREATE TABLE user_solved_puzzles (
	user_id UUID NOT NULL, 
	puzzle_id VARCHAR NOT NULL, 
	solved_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
	PRIMARY KEY (user_id, puzzle_id), 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
	FOREIGN KEY(puzzle_id) REFERENCES puzzles (id) ON DELETE CASCADE
)

;

